@{
  Layout = "_Layout";
}
<title>home index</title>


<div class="container">
  <h1>Doctor Office</h1>
  <h1>home index</h1>
  <hr />
  <h4><a href="/specialtys">View All Specialties</a></h4>
  <h4><a href="/doctors">View All Doctors</a></h4>
  <h4><a href="/patients">View All Patients</a></h4>
</div>
