@{
  Layout = "_Layout";
}

<div class="container">
<h1>Add a new specialty</h1>
<form action="/specialtys/" method="post">
  <label for="specialty-description">Specialty description:</label>
  <input id="specialty-description" name="specialty-description" type="text">
  <button type="submit">Add new specialty</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/specialtys">View all specialtys</a></p>
</div>
