@{
  Layout = "_Layout";
}

<div class="container">
<h1>Doctor Office</h1>
<h2>Add new doctor</h2>
<hr />
<form action="/doctors" method="post">
  <label for="doctor-name">Doctor name:</label>
  <input id="doctor-name" name="doctor-name" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
</div>
