@{
  Layout = "_Layout";
}
<title>Doctor Create Form</title>
<div class="container">
  <h1>Add New Doctor</h1>
    <h5 class="text-muted"><em>Only if it does not already exist</em></h5>
  <hr />
  <form action="/doctors/@Model" method="post">
    <label for="doctor-name">Doctor name:</label>
    <input id="doctor-name" name="doctor-name" type="text">

    <button type="submit" class="btn-info">Add Doctor</button>
  </form>
</div>
