@{
  Layout = "_Layout";
}

<title>Doctor Index</title>
<div class="container">
  <h1>Doctors:</h1>
  <h5 class="text-muted"><em>a list of current employees</em></h5>
  <hr />

  @if (Model.Count != 0)
  {
    <ul>
    @foreach (var doctor in Model)
    {
      <li><a class="bullet" href="/doctors/@doctor.GetId()">@doctor.GetName()</a><br>
      <a class="btn-info edit-delete" href="/doctors/@doctor.GetId()/update">Edit</a> | <a class="btn-info edit-delete" href="/doctors/@doctor.GetId()/delete">Delete</a></li>
    }
    </ul>
  }
</div>
