@{
  Layout = "_Layout";
}

<title>Doctor Index</title>
<div class="container">
  <h1>Doctor Office</h1>
  <h1>Doctor Index</h1>
  <hr />
  <h2>Doctors:</h2>
  @if (Model.Count != 0)
  {
    <ul>
    @foreach (var doctor in Model)
    {
      <li><a href="/doctors/@doctor.GetId()">@doctor.GetName()</a>
      <a href="/doctors/@doctor.GetId()/update">Edit</a> | <a href="/doctors/@doctor.GetId()/delete">Delete</a></li>
    }
    </ul>
  }
  @* <h4><a href="/doctors/new">Add a new doctor</a></h4> *@
  <h4><a href="/">Return home</a></h4>
</div>
