@{
  Layout = "_Layout";
}
<title>Doctor Update</title>
<div class="container">
  <h1>Update Doctor: @Model.GetName()</h1>
  <h5 class="text-muted"><em>Be sure you select "update doctor" to save your changes</em></h5>
  <hr />
  <form action="/doctors/@Model.GetId()/update" method="post">
    <label for="name">Update:</label>
    <input type="text" name="newname" value="@Model.GetName()">
    <button type="submit" class="btn-info">Update Doctor</button>
  </form>
  <hr>
</div>
