@{
  Layout = "_Layout";
}
<title>Patient Create Form</title>
<div class="container">
  <h1>Patient Create Form</h1>
  <h1>Add a new patient</h1>
  <form action="/patients" method="post">
    <label for="patient-name">Patient name:</label>
    <input id="patient-name" name="patient-name" type="text">
    <label for="patient-birthdate">Patient Birth Date:</label>
    <input id="patient-birthdate" name="patient-birthdate" type="date">
    <button type="submit">Add new patient</button>
  </form>
  <p><a href="/">Back home</a></p>
  <p><a href="/patients">View all patients</a></p>
</div>
