@{
  Layout = "_Layout";
}
<title>Patient update</title>
<div class="container">
  <h1>Update Patient: @Model.GetName()</h1>
  <h5 class="text-muted"><em>Be sure you select "update patient" to save your changes</em></h5>
  <hr />
  <form action="/patients/@Model.GetId()/update" method="post">
    <label for="name">Update:</label>
    <input type="text" name="newname" value="@Model.GetName()">
    <label for="birthdate">Birthdate:</label>
    <input type="date" name="birthdate" value="@Model.GetBirthDate()">
    <button type="submit" class="btn-info">Update Patient</button>
  </form>
</div>
