body{
  /*background-color: #b3cebc;
  background-image: url("../img/paint.jpeg");*/

  background: url("../img/paint.jpeg");
}

h1{
  text-shadow: 2px 2px teal;
}

h2{
  font-style: italic;
  color: #243830;

}

.card {
  opacity: .87;
  padding: 0px;
}

.card-img {
   width: 100%;
   padding: 0px;
   height: 100%;
}

.register{
  border-radius: 11.25rem;
  padding: 15px;
  display: block;
  opacity: .9;
}
.add-new{
  border-radius: 11.25rem;
  padding: 15px;
}
.btn-float{
  float: right;
}

.bullet{
  font-size: 30px;
  color: #284238;
}

.edit-delete{
  border-radius: .5rem;
  line-height: -.5;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  opacity: .8;
}

.or{
  text-align: center;
}
